*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: #fff;
  color: #333;
  font-family: "游ゴシック体", yugothic, "游ゴシック", "Yu Gothic", "メイリオ", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
}

article, aside, footer, header, nav, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, a, p, span, em, small, strong, sub, sup, mark, del, ins, strike, abbr, dfn, blockquote, q, cite, code, pre, ol, ul, li, dl, dt, dd, div, section, article, main, aside, nav, header, hgroup, footer, img, figure, figcaption, address, time, audio, video, canvas, iframe, details, summary, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  margin: 0;
  padding: 0;
}

a, a:visited {
  color: inherit;
  outline: none;
}

img {
  border: none;
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

code, kbd, pre, samp {
  font-family: monospace, sans-serif;
  font-size: inherit;
}

ul, ol {
  list-style: none;
}

table {
  border: 1px solid #eee;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
}

th, td {
  border: 1px solid #eee;
  padding: 4px 6px;
  text-align: left;
  vertical-align: top;
}

blockquote, q {
  quotes: none;
}

blockquote::after, blockquote::before, q::after, q::before {
  content: "";
  content: none;
}



.inner{
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
}

body{
  background: transparent url(images/bg_03.png) no-repeat center center/cover;
}

#header{
    width: 100%;
    background-color: #000;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
}

.header-logo img{
    width: 400px;
}

.mv-top img{
    display: block;
}

.japan{
    width: 180px;
    padding-left: 20px;
}

.mv-title{
    width: 300px;
    margin: 0 auto;
}

.mv-top p{
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    padding: 20px 0 40px;
}

#mv .inner{
    padding: 20px 0;
    background-color: #fff;
}

.mv-middle img{
    width: 100%;
}

.mv-bottom img{
    width: 400px;
    display: block;
    margin: 0 0 0 auto;
    padding: 30px 20px 0 0;
}

#content .inner{
    background: transparent url(images/content-bg.png) no-repeat center center/cover;
    padding: 30px 0;
}

.content-top img{
    display: block;
}

.content-title{
    margin: 0 auto;
    width: 300px;
}

.content-top-img{
    width: 45%;
    margin: 0 60px 0 auto;
    position: relative;
    top: 180px;
}

.content-grid1{
  width: 960px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
  -ms-grid-columns: 160px 160px 160px 160px 160px 160px;
  grid-template-columns: 160px 160px 160px 160px 160px 160px;
  margin: 0 40px 0 auto;
} .content-grid1 > *:nth-child(1){
  -ms-grid-row: 1;
  -ms-grid-column: 1;
} .content-grid1 > *:nth-child(2){
  -ms-grid-row: 1;
  -ms-grid-column: 2;
} .content-grid1 > *:nth-child(3){
  -ms-grid-row: 1;
  -ms-grid-column: 3;
} .content-grid1 > *:nth-child(4){
  -ms-grid-row: 1;
  -ms-grid-column: 4;
} .content-grid1 > *:nth-child(5){
  -ms-grid-row: 1;
  -ms-grid-column: 5;
} .content-grid1 > *:nth-child(6){
  -ms-grid-row: 1;
  -ms-grid-column: 6;
} .content-grid1 > *:nth-child(7){
  -ms-grid-row: 2;
  -ms-grid-column: 1;
} .content-grid1 > *:nth-child(8){
  -ms-grid-row: 2;
  -ms-grid-column: 2;
} .content-grid1 > *:nth-child(9){
  -ms-grid-row: 2;
  -ms-grid-column: 3;
} .content-grid1 > *:nth-child(10){
  -ms-grid-row: 2;
  -ms-grid-column: 4;
} .content-grid1 > *:nth-child(11){
  -ms-grid-row: 2;
  -ms-grid-column: 5;
} .content-grid1 > *:nth-child(12){
  -ms-grid-row: 2;
  -ms-grid-column: 6;
} .content-grid1 > *:nth-child(13){
  -ms-grid-row: 3;
  -ms-grid-column: 1;
} .content-grid1 > *:nth-child(14){
  -ms-grid-row: 3;
  -ms-grid-column: 2;
} .content-grid1 > *:nth-child(15){
  -ms-grid-row: 3;
  -ms-grid-column: 3;
} .content-grid1 > *:nth-child(16){
  -ms-grid-row: 3;
  -ms-grid-column: 4;
} .content-grid1 > *:nth-child(17){
  -ms-grid-row: 3;
  -ms-grid-column: 5;
} .content-grid1 > *:nth-child(18){
  -ms-grid-row: 3;
  -ms-grid-column: 6;
}

.grid1-1{
-ms-grid-row: 1;
-ms-grid-row-span: 1;
grid-row: 1 / 2;
-ms-grid-column: 1;
-ms-grid-column-span: 2;
grid-column: 1 / 3;
}

.grid1-2{
-ms-grid-row: 2;
-ms-grid-row-span: 1;
grid-row: 2 / 3;
-ms-grid-column: 1;
-ms-grid-column-span: 1;
grid-column: 1 / 2;
}

.grid1-3{
-ms-grid-row: 3;
-ms-grid-row-span: 1;
grid-row: 3 / 4;
-ms-grid-column: 1;
-ms-grid-column-span: 1;
grid-column: 1 / 2;
}

.grid1-4{
-ms-grid-row: 2;
-ms-grid-row-span: 1;
grid-row: 2 / 3;
-ms-grid-column: 2;
-ms-grid-column-span: 1;
grid-column: 2 / 3;
}

.grid1-5{
-ms-grid-row: 3;
-ms-grid-row-span: 1;
grid-row: 3 / 4;
-ms-grid-column: 2;
-ms-grid-column-span: 1;
grid-column: 2 / 3;
}

.grid1-6{
-ms-grid-row: 3;
-ms-grid-row-span: 1;
grid-row: 3 / 4;
-ms-grid-column: 3;
-ms-grid-column-span: 2;
grid-column: 3 / 5;
}

.grid1-7{
-ms-grid-row: 1;
-ms-grid-row-span: 3;
grid-row: 1 / 4;
-ms-grid-column: 4;
-ms-grid-column-span: 3;
grid-column: 4 / 7;
text-align: right;
}

.grid1-7 img{
  width: 360px;
  height: auto;
}

.grid1-6 img{
  width: 320px;
  padding-left: 20px;
}

.grid1-2 img,.grid1-3 img,.grid1-4 img,.grid1-5 img{
  width: 130px;
}

.grid1-1 img{
  width: 290px;
}

.grid1-2 img,.grid1-4 img{
  margin-top: 10px;
}

.content-btn{
  width: 200px;
  margin-left: 40px;
  margin-bottom: 15px;
}

.content-middle{
  padding-top: 200px;
}

.content-grid2{
width: 1000px;
display: -ms-grid;
display: grid;
-ms-grid-rows: 1fr 1fr;
grid-template-rows: 1fr 1fr;
-ms-grid-columns: 1fr 1fr 1fr 1fr;
grid-template-columns: 1fr 1fr 1fr 1fr;
margin: 0 20px 0 auto;
}.content-grid2 > *:nth-child(1){
-ms-grid-row: 1;
-ms-grid-column: 1;
}.content-grid2 > *:nth-child(2){
-ms-grid-row: 1;
-ms-grid-column: 2;
}.content-grid2 > *:nth-child(3){
-ms-grid-row: 1;
-ms-grid-column: 3;
}.content-grid2 > *:nth-child(4){
-ms-grid-row: 1;
-ms-grid-column: 4;
}.content-grid2 > *:nth-child(5){
-ms-grid-row: 2;
-ms-grid-column: 1;
}.content-grid2 > *:nth-child(6){
-ms-grid-row: 2;
-ms-grid-column: 2;
}.content-grid2 > *:nth-child(7){
-ms-grid-row: 2;
-ms-grid-column: 3;
}.content-grid2 > *:nth-child(8){
-ms-grid-row: 2;
-ms-grid-column: 4;
}

.content-grid2 img{
  padding: 10px 20px;
}

.content-bottom{
  padding-top: 30px;
}

#store .inner{
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 20px;
}

.store-title img{
  width: 400px;
}

.store-title{
  text-align: center;
}

.store-flex{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
/*background: transparent url(images/bg10_03.png) no-repeat center center/cover;*/
background-image: url("images/store-bg.png");
  background-repeat:repeat;
padding: 30px 40px 30px 60px;
margin-top: 20px;
-webkit-box-align: end;
    -ms-flex-align: end;
        align-items: flex-end;
}

.flex-left{
  width: 80%;
}

.flex-right{
  width: 20%;
  text-align: right;
}

.store-flex-title{
  display: block;
  padding-bottom: 20px;
}

.store-flex2{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}

.flex-img1{
  width: 440px;
}

.flex-img2{
  width: 320px;
  margin: 0 0 0 auto;
}

.btn a{
  background: transparent url(images/btn-bg.png) no-repeat center center/cover;
  text-align: center;
  width: 155px;
  display: block;
  text-decoration: none;
  padding: 10px 5px;
  font-size: 14px;
  margin: 0 0 0 auto;
  margin-top: 30px;
  font-weight: 600;
}

.btn-bg2 a{
  background: transparent url(images/btn-bg2.png) no-repeat center center/cover;
}

.flex-right img{
    width: 155px;
    margin-top: 20px;
}

.footer-top{
    background-color: #5f5f5f;
    padding: 30px 0;
}

.footer-top p{
    color: #898989;
    text-align: center;
    font-weight: 700;
    line-height: 1.5;
}

.footer-logo{
    font-size: 24px;
    margin-right: 10px;
}

.footer-bottom img{
    width: 180px;
}

.footer-bottom{
  text-align: right;
  position: relative;
  padding: 10px;
  margin-bottom: 50px;
}

.footer-bottom p{
    display: inline-block;
    color: #fff;
    position: absolute;
    bottom: 10px;
    right: 200px;
}









.content-flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; 
  -webkit-box-align: end; 
      -ms-flex-align: end; 
          align-items: flex-end;
  margin: 150px 60px 0;
}

.content-flex-right,.content-flex-left{
  width: 48%;
}

.store-left-img{
  padding-top: 30px;
  padding-left: 10px;
}

.spbr{
  display: none;
}

.btn a:hover{
  opacity: 0.6;
}




@media screen and (max-width: 767px) {

  .inner{
    padding-left: 16px;
    padding-right: 16px;
  }

  #mv .inner{
    padding-left: 16px;
    padding-right: 16px;
  }

  #content .inner{
    padding-left: 16px;
    padding-right: 16px;
  }

  #header{
    padding-top: 20px;
  }

  .japan{
    padding-left: 0;
    padding-bottom: 20px;
  }

  .mv-top p{
    font-size: 16px;
  }

  .mv-bottom img{
    padding: 30px 20px 0;
    margin: 0;
  }

  .content-top-img{
    width: 100%;
    top: 200px;
  }

  .content-flex{
    display: block;
  }

  .content-flex-right, .content-flex-left{
    width: 100%;
  }

  #content .inner{
    background: transparent url(images/sp-bg.png) no-repeat center center/cover;
  }

  .content-flex{
    margin: 210px 0 0;
  }

  .content-flex-right{
    padding-top: 30px;
  }

  #footer .inner{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .footer-top{
    padding: 15px 0;
  }

  .footer-bottom img{
    width: 150px;
  }

  .footer-bottom p{
    font-size: 12px;
    left: 10px;
    right: auto;
  }

  .spbr{
    display: block;
  }

  .footer-bottom{
    margin-bottom: 20px;
  }

  .store-flex{
    display: block;
    padding: 20px 0;
  }

  .flex-left,.flex-right{
    width: 100%;
  }

  .store-left-img{
    padding: 10px;
  }

  .flex-right{
    text-align: center;
  }

  .flex-right img{
    width: 55%;
  }

  .btn a{
    width: 155px;
    margin: 30px auto 0;
  }

}


.pb100{
  padding-bottom: 100px;
}

@media screen and (max-width: 1000px) {
  .pb100{
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 767px) {
  .pb100{
    padding-bottom: 0;
  }
}

.store-sp{
  display: none;
}

.sp-block{
  display: none;
}

@media screen and (max-width: 767px) {
  .store-sp{
    display: block;
  }

  .store-pc{
    display: none;
  }

  .sp-block{
    display: block;
  }

  .pc-block{
    display: none;
  }
}


@media screen and (max-width: 767px){
  .japan{
    width: 120px;
  }

  .mv-bottom img{
    padding: 20px 0 0;
  }

  .flex-right .japan100{
    width: 180px;
  }
}






.copy{
  text-align: center;
  color: #fff;
  padding-bottom: 10px;
}

@media (max-width: 767px){
  .copy{
    font-size: 12px;
  }
}


@media screen and (max-width: 767px){
  .mv-bottom img{
    display: none;
  }
}