.btn a{
    background: transparent url(images/run13.png) no-repeat center center/cover;
}

#content .inner{
    background: transparent url(images/run-bg.png) no-repeat center center/cover;
    padding: 30px 0;
}

@media screen and (max-width: 767px) {
    #content .inner{
      background-image: none;
      background-color:#000;
    }
  }




  @media screen and (max-width: 767px){
    .sp-img{
      padding-top: 0;
    }
  
    #content .inner{
      padding-top: 0;
    }
  }



  @media screen and (max-width: 767px){
    .mv-bottom img{
      display: none;
    }
  }